body{
	background-color: #fff;
	margin: 0;
	color: #000;
	font-family: 'Vollkorn', "Times New Roman", serif;
	font-size: 0.8em;
}

a{
	text-decoration: none;
	color: #22bbee;
}
a:visited{
	color: #0099dd;
}
a:hover{
	color: #66ddff;
}
a:active{
	color: #66ddff;
}


/* HEADER STUFF */
#header{
	/*float: left;*/
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #fff;
	box-shadow: 0px 0px 100px #000;
}

#logo{
	float: left;
	margin: 0px;
	width: 100%;
	content:url('../_images/watson_for_president_long.png');
}

#menu{
	float: left;
	clear: both;
	width: 100%;
	height: 36px;
	overflow: hidden;
	border-top: 1px solid #eee;
	background: #ffffff;
}
#menu a{
	font-family: 'Vollkorn', "Times New Roman", serif;
	font-size: 1em;
	text-transform: uppercase;
	color: #0099dd;
	float: left;
	width: 19%;
	text-align: center;
	padding-bottom: 10px;
	padding-top: 10px;
}
#menu a:hover{
	color: #000;
}
.menudiv{
	float: left;
	width: 1%;
}
.menudiv hr{
	margin: 0px;
	border: none;
    height: 100px;
    width: 1px;
    color: #eee;
    background-color: #eee;
}


/* CONTENT STUFF */
#main{
	float: left;
	margin-top: 50px;
}
.section{
	float: left;
	width: 100%;
}
.sectionimg{
	border: none;
	float: left;
	width: 100%;
	margin: 0px;
}
.sectionbody{
	float: left;
	background-color: #fff;
	box-shadow: 0px 0px 100px #000;
}
.sectionbody img{
	width: 50%;
}
.sectiontitle{
	display: block;
	font-size: 1.2em;
	font-weight: 700;
	margin: 10px;
}
.sectiontext{
	margin: 10px;
}

/* quotes */
.quote{
	font-style: italic;
	color: #999;
	margin: 0 10px 15px 10px;
}
.quoteauthor{
	font-size: 0.8em;
}
.top{
	float: right;
	color: #ccc;
	font-size: 1.2em;
	font-weight: 700;
	margin: 10px;
}

/* video */
.videosectionbody{
	float: left;
	background-color: #fff;
	box-shadow: 0px 0px 100px #000;
}
.videosection{
	margin: 10px;
}
.videolink{
	color: #000 !important;
}
.videolink:hover{
	color: #22bbee !important;
}
.videobody{
	float: left;
	margin-bottom: 20px;
}
.videobody .centerer{
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}
.videothumb{
	border: none;
	float: left;
	width: 100%;
	height: 100%;
	margin-bottom: 10px;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
}
.videoplayoverlay{
	width: 128px;
	height: 128px;
	/*
	vertical-align: middle;
	display: inline-block;
	max-height: 100%;
	max-width: 100%;
	position: absolute;
	display: block;
	width: 128px;
	height: 128px;
	top: 50%;
	left: 0;
	bottom: 0;
	right:0;
	*/
}
.videotext{
	float: left;
	width: 100%;
}
.videotitle{
	font-style: italic;
	width: 100%;
}
.videosource{
	float: left;
	margin-bottom: 10px;
	width: 100%;
}
ul{
	padding-left: 20px;
}


/* social media stuff */
.socialmediatitle{
	font-weight: 700;
	color: #999;
	margin-bottom: 10px;
}
.socialmediaicon{
	width: 16px !important;
	height: 16px !important;
	vertical-align: middle;
}
.socialmediafeed{
	float: left;
	width: 50%;
}
.socialmediaupdate{
	margin-bottom: 10px;
	font-size: 0.8em;
}
.socialmediatext{
	margin: 10px;	
}
.socialmedialink{
	color: #000;
}
.socialmediaauthor{
	color: #999;
}
#watsonpoll{
	float: left;
	width: 100%;
}



/* POLL STUFF */
.poll{

}
.polloption{
	float: left;
	width: 48%;
	background-color: #ccc;
	margin-bottom: 10px;
}
.polloption:hover{
	background-color: #66ddff;
}
.polloption img{
	float: left;
	width: 100%;
	height: 100%;
	margin: 0 !important;
}
.pollresponsecount{
	float: left;
	width: 100%;
}


/* FOOTER STUFF */
#footer{
	float: left;
	width: 100%;
	background-color: #fff;
	border-top: 1px solid #eee;
}
#contact{
	float: left;
	width: 100%;
}
#legal{
	float: left;
	width: 100%;
}




/* 480 - 640 */
@media only screen and (min-width: 480px) {

}

/* 640 - 720 */
@media only screen and (min-width: 640px) {
	body{
		font-size: 1em;
	}
	#menu {
		height: 43px;
	}
	.sectiontitle{
		margin: 20px;
	}
	.sectiontext{
		margin: 20px;
	}
	.socialmediatext{
		margin: 20px;	
	}
	.socialmediaicon{
		width: 32px !important;
		height: 32px !important;
	}
	.quote{
		margin: 0 20px 20px 20px;
	}
	.top{
		margin: 20px;
	}
	.videosection{
		margin: 20px;
	}
	.videothumb{
		width: 50%;
	}
	.videotext{
		float: left;
		width: 48%;
		margin-left: 2%;
		font-size: 0.8em;
	}
	#watsonpoll{
		float: left;
		width: 100%;
	}
	#contact{
	}
	#legal{
	}
}

/* 720 - 960 */
/*
@media only screen and (min-width: 720px) {

}
*/

/* 960 - 1080 */
@media only screen and (min-width: 960px) {

	#logo {
		width: 50%;
		/*content:url('../_images/watson_2016.png');*/
	}
	#menu {
		clear: none;
		width: 50%;
		overflow: hidden;
		border-top: none;
		height: 60px;
	}
	#menu a{
		height: 20px;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	#main{
		margin-top: -50px;
	}
	.sectiontext{
		-webkit-column-count: 2;
	    -moz-column-count: 2;
	    column-count: 2;
	    -webkit-column-gap: 20px;
	    -moz-column-gap: 20px;
	    column-gap: 20px;
	}
	.videosection{
		margin: 0px;
	}
	.videobody{
		width: 46%;
		margin-left: 2%;
		margin-right: 2%;
		min-height: 470px;
	}
	.videothumb{
		width: 100%;
	}
	.videotext{
		width: 100%;
		margin-left: 0%;
		font-size: 1em;
	}
	#contact{
		float: left;
		width: 50%;
	}
	#legal{
		float: left;
		width: 50%;
	}
}

/* 1080 - 1280 */
@media only screen and (min-width: 1080px) {
	#menu {
		height: 70px;
	}
	#menu a{
		font-size: 1.2em;
		height: 20px;
		padding-top: 25px;
		padding-bottom: 20px;
	}
	.sectionbody img{
		width: 100%;
		margin-bottom: 10px;
	}
	.sectiontext{
		-webkit-column-count: 3;
	    -moz-column-count: 3;
	    column-count: 3;
	    -webkit-column-gap: 20px;
	    -moz-column-gap: 20px;
	    column-gap: 20px;
	}
	.socialmediafeed{
		float: left;
		width: 33%;
	}
	.socialmediaupdate{
		font-size: 1em;
	}
	.videobody{
		width: 29%;
		margin-left: 2%;
		margin-right: 2%;
		min-height: 470px;
	}
	#watsonpoll{
		width: 33%;
	}
	#contact{
		float: left;
		width: 33%;
	}
	#legal{
		float: left;
		width: 67%;
	}
}

/* 1280 */
/* 1440 */
/* 1600 */
/* 1920 */
/* 2560 */
/* 3840 */